$main-font: Roboto, Helvetica, Arial, sans-serif;

// SIZES
$font-size: 16px;

// COLORS
$hr-color: rgb(82, 80, 88);
$text-color: rgb(255, 255, 255);
$white: rgb(255, 255, 255);
$black: rgb(42, 42, 42);
$red: rgb(255, 70, 70);
$green: rgb(64, 215, 139);
$blue: rgb(0, 191, 222);
$yellow: rgb(251, 236, 0);

@mixin flashplace($left) {
  position:absolute;
  left: $left;
  width: 44px; 
  height: 44px;
  background-image: url(../img/flash.svg);
}


