.brightness-control {
  position: absolute;
  top: 90%; left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: calc(100% - 16px * 2);
}

.brightness-control__labels {
  display: flex;
  justify-content: space-between;
}

.brightness-control__label {
  font-size: 14px;
  color:#333333;
  font-weight:500;
}

.brightness-control__range-container {
  position: relative;
  height: 2px;
  margin-top: 15px;
  background: rgba(0, 0, 0, 0.26);

}

body.platform-ios .brightness-control__range-container {
  height: 1px;
  background: #979898;
}

body.platform-ios .brightness-control__range-container::before,
body.platform-ios .brightness-control__range-container::after {
  content: '';
  width: 1px;
  height: 5px;
  background-color: #979898;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

body.platform-ios .brightness-control__range-container::before {
  left: 0;
}

body.platform-ios .brightness-control__range-container::after {
  right: 0;
}

.brightness-control__range-track-filled {
  position: absolute;
  top: 0; left: 0;
  height: 100%;
  background-color: black;
  will-change: width;

}

body.platform-ios .brightness-control__range-track-filled {
  display: none;
}

.brightness-control__range-thumb {
  --thumb-size: 12px;

  position: absolute;
  width: calc(100% - var(--thumb-size));
  height: 100%;
  border-radius: 50%;
  will-change: transform;
  z-index: 1;
}

body.platform-ios .brightness-control__range-thumb {
  --thumb-size: 24px;
}

.brightness-control__range-thumb::after {
  content: '';
  position: absolute;
  background-color: black;
  top: 0; left: 0;
  transform: translateY(-50%);
  width: var(--thumb-size); height: var(--thumb-size);
  border-radius: 50%;
} 

body.platform-ios .brightness-control__range-thumb::after {
  background-color: white;
  box-shadow: 0 1px 2px rgba(0,0,0, 0.3), 0 6px 0 rgba(0,0,0, 0.05), 0 5px 5px rgba(0,0,0, 0.1);
}

.brightness-control__range {
  -webkit-appearance: none;
  background-color: transparent;
  position: absolute;
  width: 100%;
  height: 2px;
  margin: 0;
  
}

.brightness-control__range::-webkit-slider-runnable-track,
.brightness-control__range::-moz-range-track {
  --clickable-area: 15px;

  background: transparent;
  width: 100%;
  height: 2px;
  border-top: var(--clickable-area) solid transparent;
  border-bottom: var(--clickable-area) solid transparent;
  cursor: pointer;
  box-shadow: none;
}

.brightness-control__range::-webkit-slider-thumb,
.brightness-control__range::-moz-range-thumb {
  --clickable-area: 30px;

  box-sizing: border-box;
  position: relative;
  width: var(--clickable-area); height: var(--clickable-area);
  opacity: 0;
  transform: translateY(calc(-50% + 1px));
  box-shadow: none;
  border-style: none;
  -webkit-appearance: none;
  cursor: pointer;
  z-index: 1;
}

