.led-button {
  position: absolute;
  top: 50%; left: 50%; 
  transform: translateX(-50%) translateY(-50%);
  width: 128px;
  height: 128px;
  border-radius: 50%;
  overflow: hidden;
}

#wrapper:not([data-color="white"]) .led-button .button-circle {
  stroke: white;
}

#wrapper:not([data-color="white"]) .led-button .button-path {
  fill: white;
}

#wrapper[data-controls="picker"] .led-button .button-circle {
  stroke: transparent;
}

.led-button.active .button-circle {
  fill: rgba(0, 0, 0, 0.5);
  stroke: transparent;
  stroke-width: 0;
  r: 64;
}

.led-button.active .button-path {
  fill: white;
}

