.wheel {
  position: absolute;
  top: 50%; left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width:100%;
  background-image: url(../../images/color_wheel.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 50%;
}

.wheel svg path {
  opacity: 0;
}
.wheel svg circle:not([stroke="#ffffff"]) {
  opacity: 0 !important;
}

