body {
  --main-font: Roboto, Helvetica, Arial, sans-serif;

/* SIZES */
  --font-size: 16px;

/* COLORS */
  --hr-color: rgb(82, 80, 88);
  --text-color: rgb(255, 255, 255);

  --black: rgb(42, 42, 42);

  --red: rgb(238, 54, 54);
  --green: rgb(1, 207, 88);
  --blue: rgb(17, 169, 255);
  --yellow: rgb(252, 187, 64);
  --white: rgb(255, 255, 255);
}


