.led-button {
  position: absolute;
  top: 50%; left: 50%; 
  transform: translateX(-50%) translateY(-50%);
  
  #wrapper:not([data-color="white"]) & {
    .button-circle {
      stroke: white;
    }

    .button-path {
      fill: white;
    }
  }

  &.active {
    .button-circle {
      fill: rgba(0, 0, 0, 0.5);
      stroke: transparent;
      stroke-width: 0;
    }

    .button-path {
      fill: white;
    }
  }
}
