.modes-list-item {
  position: relative;
  height: 72px;
  padding-left: 72px;
  color: #212121;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  body.platform-ios & {
    box-shadow: 0 -0.5px 0 #C8C7CC, 0 0.5px 0 #C8C7CC;
    background-image: url(../img/chevron-icon.svg);
    background-repeat: no-repeat;
    background-position: calc(100% - 15px) 50%;
  }
}

.modes-list-item__icon {
  position: absolute;
  top: 50%;
  left: 32px;
  transform: translateX(-50%) translateY(-50%);
}

.modes-list-item__description {
  display: block;
  font-size: 14px;
  color: #747474;
  margin-top: 7px;

  body.platform-ios & {
    font-size: 13px;
  }
}