.wrapper {
  background-color: currentColor;
}

.wrapper[data-color='white'] {
  color: var(--white);
}

.wrapper[data-color='red'] {
  color: var(--red);
}

.wrapper[data-color='green'] {
  color: var(--green);
}

.wrapper[data-color='blue'] {
  color: var(--blue);
}

.wrapper[data-color='yellow'] {
  color: var(--yellow);
}

.wrapper::before {
  content: '';
  display: block;
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  background-color: inherit;
}

