<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <!-- <link rel="icon" sizes="192x192" href="img/AirQ.png"> -->
    <link rel="manifest" href="manifest.json">
    <!-- <link rel="stylesheet" type="text/css" href="css/reset.css"> -->
    <!-- <link rel="stylesheet" type="text/css" href="fonts/fonts.css"> -->
    <!-- <link rel="stylesheet" type="text/css" href="css/styles.css"> -->

    <!-- vendor -->
    <!-- <script src="vendor/jquery-2.2.0.min.js" type="text/javascript"></script> -->
    <!-- <script src="vendor/svg-injector.min.js" type="text/javascript"></script> -->
    <script src="vendor/raphael.min.js" type="text/javascript"></script>
    <script src="vendor/colorwheel.js" type="text/javascript"></script>
     
    <!-- nexpaq libs -->
    <!-- <script type="text/javascript" src="node_modules/webview-tile-header/WebViewTileHeader.js"></script> -->

    <!-- partials -->

    <!-- screens -->

    <!-- tools-->
 
    <!-- core -->
    <!-- <script type="text/javascript" src="js/native.js"></script> -->
    <!-- <script type="text/javascript" src="js/scripts.js"></script> -->
  
  </head>
  <body>
  <!-- <style id="synamic_styles"></style> -->
    <div id="wrapper" class="wrapper" :data-color="backgroundColor">

      <div class="page page__controls">
        <div class="simple-controls" :class="{ hidden: controlsType != 'simple' }">
          <div class="color-control">
            <button v-for="(color, key) in predefinedColors" @click="currentColor = color.moduleColor" :style="{ 'background-color': 'rgb(' + color.uiColor.red() +',' + color.uiColor.green() + ',' + color.uiColor.blue() + ')' }" ></button>
          </div>
        </div> <!-- /.simple-controls -->
  
        <div class="picker-controls" :class="{ hidden: controlsType != 'picker' }">
          <div class="wheel-control">
            <div class="wheel" id="colorWheel"></div> 
          </div>
  
          <div class="brightness-control">
            <div id="textbox">
              <p class="alignleft">Darker</p>
              <p class="alignright">Lighter</p>
            </div>
            <input type="range" id="nxprange" class="nxprange" min="-1" max="1" step="0.01" v-model.number="lightness">
            <output for="nxprange" id="position"></output>
          </div>
        </div> <!-- /.picker-controls -->
        
        <div class="shared-controls">
          <button class="led-button" :class="{ active: ledsState }" @touchstart="ledButtonPressedHandler" @touchend="ledButtonReleasedHandler"></button>
      
          <div class="flashcontrol">
            <button class="flashcontrol__flashbutton" :class="{ 'flashcontrol__flashbutton--active': flashLedLeftState }" @click="flashLedLeftState = !flashLedLeftState;"></button>
            
            <div class="onoffswitch">
              <input type="checkbox" name="onoffswitch" class="checkbox" id="myonoffswitch" v-model="lockState">
              <label class="switch-label" for="myonoffswitch"></label>
            </div>
    
            <button class="flashcontrol__flashbutton" :class="{ 'flashcontrol__flashbutton--active': flashLedRightState }" @click="flashLedRightState = !flashLedRightState;"></button>
          </div>
        </div> <!-- /.shared-controls -->
      </div> <!-- /.page__controls -->
    </div> <!-- /.wrapper -->
  </body>
</html>
