.wrapper {
  &[data-color='white'] {
    color: $white;
  }
  &[data-color='red'] {
    color: $red;
  }
  &[data-color='green'] {
    color: $green;
  }
  &[data-color='blue'] {
    color: $blue;
  }
  &[data-color='yellow'] {
    color: $yellow;
  }

  &::before {
    content: '';
    display: block;
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    background-color: inherit;
  }

  background-color: currentColor;
}
