.page__themes {
  position: relative;
  color: black;
  font-family: Roboto, sans-serif;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 30px;

  body.platform-android & {
    padding-top: calc(55px + 20px);
  }

  body.platform-ios & {
    padding-top: calc(44px + 20px);
  }
}

.page__themes .theme-button {
  grid-column-start: span 1;
}